.header {
  width: 100%;
  position: sticky;
  z-index: 999;
  top: 0;
}

.home {
  color: var(--font-light);
}

.blur {
  color: var(--font-dark);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.8);
}

.blur button {
  border: 1px solid var(--font-dark);
}

.content {
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header svg {
  width: 20px;
  height: auto;
  transition: all 0.3s ease-in-out;
  fill: var(--font-dark);
}

.header img:hover {
  opacity: 0.5;
}

.desktop {
  display: flex;
  align-items: center;
  gap: 4rem;
  transition: all 0.3s ease-in-out;
}

.desktop :not(:last-child):hover {
  cursor: pointer;
  opacity: 0.5;
}

.toggle {
  display: none;
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-top: 20rem;

    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin-inline: auto;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: white;
    z-index: 1;
  }

  .toggle {
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 2;
  }
}
