.footer {
  margin-block: 2rem;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.footer a :hover {
  opacity: 0.5;
}

.home {
  color: var(--font-light);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
