.hero {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.image {
  position: relative;
  width: 50vw;
  height: 20vw;
  object-fit: cover;
}
