.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

@media (max-width: 600px) {
  .hero {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 50%;
}

.hero button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--main-grey);
  transition: all 0.3s ease-in-out;
}

.hero button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.image {
  position: relative;
  width: 60vw;
  height: 30vw;
  object-fit: cover;
}
