.header {
  position: fixed;
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.8);
  width: 100%;
}

.content {
  padding: 1rem 5rem 1rem 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header img {
  width: 20px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.header img:hover {
  opacity: 0.5;
}

.links {
  display: flex;
  gap: 4rem;
  transition: all 0.3s ease-in-out;
}

.links :hover {
  cursor: pointer;
  opacity: 0.5;
}

.footer {
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.toggle {
  display: none;
}

@media (max-width: 600px) {
  .links {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-top: 20rem;

    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin-inline: auto;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: white;
  }

  .toggle {
    position: relative;
    display: block;
    cursor: pointer;
  }
}
